### Importazione librerie

In [184]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import pickle

from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

### Caricamento file train.csv

In [185]:
file_path = "../../train.csv"
df = pd.read_csv(file_path)

### Controllo valori nulli e duplicati

In [186]:
# Valori mancanti per ciascuna colonna
missing_values_per_column = df.isnull().sum()
print("\nValori mancanti nel DataFrame per ciascuna colonna:")
print(missing_values_per_column)

# Totale dei valori mancanti in tutto il DataFrame
total_missing_values = missing_values_per_column.sum()
print(f"\nTotale dei valori mancanti nel DataFrame:\n{total_missing_values}")

Valori mancanti nel DataFrame per ciascuna colonna:
Year    0
S0      0
S1      0
S2      0
S3      0
       ..
S85     0
S86     0
S87     0
S88     0
S89     0
Length: 91, dtype: int64

Totale dei valori mancanti nel DataFrame:
0

In [187]:
print("\nDuplicati nel DataFrame:")
print(df.duplicated().sum())

Duplicati nel DataFrame:
52

### Rimozione valori nulli e duplicati

In [188]:
clean_df = df.dropna() 
clean_df = df.drop_duplicates()

In [189]:
# Verifica rimozione valori nulli e duplicati
total_missing_values = missing_values_per_column.sum()
print(f"\nTotale dei valori mancanti nel DataFrame:\n{total_missing_values}")

print("\nDuplicati nel DataFrame:")
print(clean_df.duplicated().sum())

Totale dei valori mancanti nel DataFrame:
0

Duplicati nel DataFrame:
0

In [190]:
clean_df.describe()

,Year,S0,S1,S2,S3,S4,S5,S6,S7,S8,...,S80,S81,S82,S83,S84,S85,S86,S87,S88,S89
count,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,...,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000,252123.000000
mean,1998.350143,43.379082,1.554115,8.644903,1.160495,-6.526296,-9.531860,-2.367001,-1.788615,3.712732,...,15.724619,-73.286196,41.487949,38.044051,0.334009,17.931321,-26.509443,4.488371,19.873068,1.309111
std,10.497821,6.066799,51.553786,35.236419,16.336976,22.842798,12.809783,14.531206,7.963667,10.554074,...,31.984394,174.926010,122.250505,94.579907,16.021250,114.048957,173.685614,13.286652,185.161556,22.113446
min,1956.000000,3.455260,-334.953220,-301.005060,-149.962040,-181.953370,-72.717370,-111.017810,-68.404510,-119.762620,...,-437.722030,-2984.920970,-1810.689190,-1848.702260,-272.289050,-2343.894110,-3819.933620,-233.456480,-7458.378150,-286.031200
25%,1994.000000,39.959190,-25.652865,-11.525215,-8.492365,-20.588825,-18.403075,-10.770910,-6.473035,-2.296255,...,-1.788015,-139.031800,-21.015265,-4.631245,-6.749575,-31.247580,-102.179795,-2.536405,-59.734690,-8.819860
50%,2002.000000,44.250210,8.654700,10.517340,-0.641620,-5.998880,-11.189760,-2.072920,-1.727880,3.821940,...,9.132190,-53.171760,28.675010,33.593230,0.818240,15.846730,-21.623440,3.145800,7.775050,0.062890
75%,2006.000000,47.823030,36.250215,29.795445,8.767810,7.740135,-2.448085,6.512805,2.913495,9.938115,...,26.208285,13.413625,89.185855,77.879375,8.451960,67.776985,51.887175,9.999690,85.829385,9.651235
max,2009.000000,61.970140,384.065730,318.868960,228.412110,262.068870,166.236890,160.815220,82.942190,92.792850,...,840.973380,4469.454870,3210.701700,1734.079690,199.121500,3662.065650,2833.608950,275.353660,7240.653730,600.766240

# MICHELE FA LA RIMOZIONE DEGLI OUTLIERS MENTRE GABRIELE NO, CHE FACCIAMO????

### Suddivisione del DataSet

In [191]:
X = clean_df.drop(columns=['Year'])  # Non la consideriamo per il modello
y = clean_df['Year'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Standardizzazione

In [192]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Salva il modello di scaling
with open('scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

print("\nDati di training normalizzati:")
print(X_train_scaled)

Dati di training normalizzati:
[[ 1.11523778  0.99254951 -0.60604379 ... -0.31686077  0.12821504
  -0.0748598 ]
 [ 0.9723074   0.39340974 -0.30877134 ... -0.57019125 -0.33966922
  -0.40339726]
 [ 1.25854557  0.56623081  1.03087905 ... -0.27038536  0.48972211
   0.34192717]
 ...
 [ 0.62506856  1.58337359 -0.66712655 ... -0.38625943 -0.49931311
  -0.66994517]
 [-0.45876481 -0.89315637 -0.41003635 ...  0.28574844  0.80761915
  -0.06129659]
 [-0.05552726 -0.28012032 -1.16357997 ...  0.3951414  -1.04961578
  -0.17714599]]

# Modeling

### PCA - NON SO BENE COME FARLOOOOOO

In [193]:
# Riduzione della dimensionalità con PCA
pca = PCA(n_components=0.95)  # Mantieni il 95% della varianza spiegata
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

print(f"Numero di componenti principali: {pca.n_components_}")
print(f"Forma dei dati di training dopo PCA: {X_train_pca.shape}")
print(f"Forma dei dati di test dopo PCA: {X_test_pca.shape}")

Numero di componenti principali: 67
Forma dei dati di training dopo PCA: (201698, 67)
Forma dei dati di test dopo PCA: (50425, 67)